<h1><%= @place.name %></h1>


    <% for post in @place.posts %>
    <p>
    <h2><%= post.title %></h2>
    </p>
    <p><%= post.posted_on %></p>
    <p><%= post.description %></p>
    <% end %>

<p>
    <a href="/posts/new?place_id=<%= @place.id %>">New Post</a>
</p>
<p>
    <a href="/places">Return to main page</a>